<div class="content">
    <div class="row">
        <!--查询失败显示查询失败提示信息-->
        <div class="container">
            <div class="no_info" ng-show="result == undefined || result == ''">
                暂无信息
            </div>
        </div>
        <!-- 循环显示数据 -->
        <div class="col-lg-4 col-xs-6" ng-repeat="info in result">
            <div class="box box-solid bg-whate-gradient">
                <div class="box-header">
                    <div class="pull-right box-tools lawyerInfo">
                        <!--单击传递lid-->
                        <!--判断收藏状态,如果收藏过,那么是显示glyphicon glyphicon-star, 使用ng-if判断显示-->
                        <span ng-if="info.collection_id != ''">
                        <i class="fa fa-star" style="cursor: pointer; color: #ffb70a" id="{{info.lawyer_id}}"
                           collection="{{info.collection_id}}" cancelcollection-or-collection></i>
                        </span>
                        <span ng-if="info.collection_id == ''">
                        <i class="fa fa-star-o" style="cursor: pointer;" id="{{info.lawyer_id}}"
                           collection="{{info.collection_id}}" cancelcollection-or-collection></i>
                        </span>
                        <i class="glyphicon glyphicon-remove" ng-click="deleteLawyer(info.lawyer_id)"
                           style="cursor: pointer"></i>
                    </div>
                </div>
                <a href="#/lawyerInfo/{{info.lawyer_id}}" style="color: #333">
                    <div class="box-body border-radius-none">
                        <div class="small-box">
                            <div class="inner">
                                <p class="borderBottom">
                                    <span style="font-size: 20px;"> {{info.name}}</span>
                                </p>
                                <p style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;"><span
                                        class="glyphicon glyphicon-home"></span> {{info.firm}}</p>
                                <p><span class="glyphicon glyphicon-phone"></span> {{info.phone}} </p>
                            </div>
                            <!--<div class="icon">-->
                            <!--<div class="circle" id="{{info.id}}" radial-directive></div>-->
                            <radial-directive></radial-directive>
                            <div class="circle" style="position: absolute; top: 20px; right: 10px;">
                                <div class="pie_left">
                                    <div class="left"></div>
                                </div>
                                <div class="pie_right">
                                    <div class="right"></div>
                                </div>
                                <div class="mask"><span id="{{info.score}}" radial-directive>{{info.score}}</span>%</div>
                            </div>
                            <!--</div>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!--分页-->
            <table>
                <tr>
                    <td>
                        <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"
                                    class="pagination-sm"
                                    boundary-links="true" rotate="false" num-pages="numPages"
                                    ng-change="pageChanged(bigCurrentPage)"></pagination>
                    </td>
                    <td>
                        &nbsp;&nbsp; 总共: <span class="text-primary">{{bigTotalItems}}</span> 条
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>