<style>
    a:hover {
        color: #3a87ad;
    }
</style>
<div class="content">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-xs-12 text-center">
                        <h2 class="fa fa-search text-primary" style="font-size: 28px"> 律师匹配</h2>
                    </div>
                    <br/>
                    <div class="col-xs-12">
                        <p>案件类型 <span style="color: red">*</span></p>
                        <p>
                            <select class="form-control" ng-model="area">
                                <option value="" selected="selected">请选择</option>
                                <option value="1">民商事</option>
                                <option value="2">知识产权</option>
                                <option value="3">刑事</option>
                                <option value="4">行政</option>
                                <option value="5">其他</option>
                            </select>
                        </p>
                    </div>
                    <!--<div class="col-xs-12">-->
                        <!--<p>省</p>-->
                        <!--<p>-->
                            <!--<select ng-model="province" class="form-control">-->
                                <!--<option ng-repeat="info in provinceData">{{info.name}}</option>-->
                            <!--</select>-->
                        <!--</p>-->
                    <!--</div>-->
                    <div class="col-xs-12">
                        <p>法院 <span style="color: red">*</span></p>
                        <input type="text" class="form-control court" ng-model="court" ng-click="showList()" />
                        <div class="resultList">
                            <input type="text" class="form-control search" ng-model="searchVal" select-court/><span
                                class=" pull-right glyphicon glyphicon-search"
                                style="margin-right: 10px; margin-top: -25px"></span>
                            <ul>
                                <li ng-if="searchData=='' || searchData==undefined" style="background: #f2e2c0">
                                    没有查找到相关信息
                                </li>
                                <li ng-repeat="item in searchData" ng-click="changeVal(item.name, item.province)"><a
                                        href="javascript:;">{{item.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12" style="margin-top: 10px">
                        <p class="text-right">
                            <span style="color: red" class="pull-left">{{warnInfo}}</span>
                            <a href="#/lawyerMatching" class="btn btn-primary" ng-click="matching()">匹配</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    /* 查询框居中显示 */
    $(function () {
        var height = ($(window).height() - 420) / 2;
        $(".content").css({"margin-top": height});
    })
</script>